gradio==5.17.1
torch==2.5.1
torchvision==0.20.1
numpy==1.26.4
tqdm
hydra-core
pillow
omegaconf
opencv-python
plyfile
huggingface-hub
scipy
safetensors
onnxruntime
requests
trimesh
matplotlib
pydantic==2.10.6